.receipt {
  display: none;
  text-align: left;
}
.jumbotron {
  text-align: center;
  background-color: #007272;
}
.jumboimg {
  height: 60%;
  width: 60%;
  border: solid #00bebe;
  border-width: 5px;
}
body {
  background: darkcyan;
  color: white;
}
.card {
  color: darkcyan;
  border-color: #00bebebe;
  display: flex;
  margin: 5px;
}
button {
  margin: 30px;
}
ul {
  text-align: left;
}

.cheesey,
.shroomy,
.lami,
.pina,
.heartpizza {
  height: 40%;
  width: 40%;
  float: right;
}
.pina {
  height: 35%;
  width: 35%;
}
.saucey {
  height: 30%;
  width: 30%;
  float: right;
}

.heartpizza {
  margin: 13px;
}
#pizzatotals:hover {
  color: turquoise;
  font-weight: bold;
  cursor: grab;
}
