.receipt {
  display: none;
}
.jumbotron {
  text-align: center;
  background-color: #007272;
}
.jumboimg {
  height: 50%;
  width: 50%;
  border: solid #00bebe;
  border-width: 5px;
}
body {
  background: darkcyan;
  color: white;
}
.card {
  color: darkcyan;
  border-color: #00bebebe;
}
button {
  margin: 30px;
}
